<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655138975273-rtrgqghedrv5lf90a0hkg84lqkktmrn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655138975273-rtrgqghedrv5lf90a0hkg84lqkktmrn2</string>
	<key>API_KEY</key>
	<string>AIzaSyCb_RuxLtvLW5t0RD1mkqa1PpusgWxcHxE</string>
	<key>GCM_SENDER_ID</key>
	<string>655138975273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c74be</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c74be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655138975273:ios:259f5a5a0a58e3d008b638</string>
</dict>
</plist>